{% extends "_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h1 class="text-3xl font-bold mb-2">Dashboard</h1>
<h1 class="text-2xl font-bold mb-2">Welcome {{ user }}</h1>

{% if daily_left == -1 %}
    <p>Daily limit: Unlimited</p>
{% else %}
    <p>Daily limit left: {{ daily_left }} / {{ user.daily_limit }}</p>
{% endif %}
<p>Your Plan: {{ user.plan }} 
    {% if user.plan != "free" %}
    <span>👑</span>
{% endif %}
</p>



<h1 class="text-3xl font-bold my-8 text-center">Your Videos</h1>

<!-- CLIPPER -->
<div class="mb-12">
    <h2 class="text-2xl font-semibold mb-4">Clipper Jobs</h2>
    {% include "sections/clipperJob.html" %}
</div>


<!-- AUTO SUBTITLE -->
<div class="mb-12">
    <h2 class="text-2xl font-semibold mb-4">Auto Subtitle Jobs</h2>
    {% include "sections/autosubJob.html" %}
</div>



<!-- ASPECT RATIO -->
<div class="mb-12">
    <h2 class="text-2xl font-semibold mb-4">Aspect Ratio Jobs</h2>
    {% include "sections/aspectJob.html" %}
</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/deletejobs.js') }}"></script>
{% endblock %}
