{% extends "_base.html" %}

{% block title %}Auto Subtitle{% endblock %}

{% block content %}

<section class="max-w-5xl mx-auto px-6 py-24">

    <!-- HERO TEXT -->
    <div class="text-center space-y-6 mb-10">

        <h3 class="text-1xl md:text-1xl font-semibold tracking-tight leading-tight">
            AUTO SUBTITLE TOOL
        </h3>

        <h1 class="text-4xl md:text-5xl font-bold tracking-tight leading-tight">
            Add Subtitle in One Click
        </h1>

        <p class="text-gray-500 max-w-2xl mx-auto">
            Upload a video or paste a link. We will add animated subtitle in your videos.
        </p>

    </div>


    <!-- FORM CARD -->
    <div class="shadow-xl rounded-4xl p-6 md:p-8 max-w-3xl mx-auto">

        <form id="uploadForm"
            method="POST"
            action="/add-subtitle"
            enctype="multipart/form-data"
            class="space-y-6 max-w-2xl mx-auto">

            {{ form.hidden_tag() }}

            <!-- FILE UPLOAD -->
            <div class="flex justify-center">
                <div class="flex items-center gap-4 w-full max-w-2xl">

                    <!-- URL INPUT -->
                    <div class="flex-[3]">
                        {{ form.video_url(
                            class="w-full border border-gray-300 rounded-lg px-4 py-3
                                   focus:ring-2 focus:ring-black focus:outline-none",
                            placeholder="Paste YouTube / TikTok link"
                        ) }}
                    </div>

                    <!-- OR -->
                    <div class="text-gray-400 text-sm font-medium whitespace-nowrap">
                        OR
                    </div>

                    <!-- FILE INPUT -->
                     <div class="flex-[1]">
                        <a href="/register" class="bg-black text-white px-4 py-2 rounded-lg cursor-pointer">
                        Upload File
                        </a>
                    </div>
                </div>
            </div>

            <!-- SUBTITLE STYLE -->
            <div class="space-y-2">
                <label class="text-sm font-medium text-gray-700">
                    {{ form.subtitleStyle.label.text }}
                </label>

                {{ form.subtitleStyle(
                    class="w-full border border-gray-300 rounded-lg px-4 py-3
                        focus:ring-2 focus:ring-black focus:outline-none"
                ) }}
            </div>

            <!-- SUBMIT BUTTON -->
            <div>
                {{ form.submit(
                    class="w-full bg-black text-white py-3 rounded-lg
                        hover:bg-gray-800 transition font-medium"
                ) }}
            </div>

        </form>


    </div>

</section>


{% endblock %}


{% block scripts %}
{% if not session.get("user_id") %}
<script>
document.addEventListener("DOMContentLoaded", () => {

    const form = document.getElementById("uploadForm");

    form.addEventListener("click", (e) => {
        e.preventDefault();
        window.location.href = "/register";
    });

});
</script>
{% endif %}


<script>
document.addEventListener("DOMContentLoaded", () => {

    const input = document.getElementById("fileInput");
    const fileName = document.getElementById("fileName");

    if (input && fileName) {
        input.addEventListener("change", () => {
            if (input.files.length > 0) {
                fileName.textContent = input.files[0].name;
            } else {
                fileName.textContent = "No file selected";
            }
        });
    }

});
</script>

<script>
document.addEventListener("click", async (e) => {
    if (!e.target.classList.contains("delete-job-btn")) return;

    const jobId = e.target.dataset.jobId;

    if (!confirm("Are you sure you want to delete this job?")) return;

    try {
        const res = await fetch(`/clipper-delete/${jobId}`, { method: "POST" });

        if (!res.ok) {
            alert("Failed to delete job");
            return;
        }

        e.target.closest(".bg-white").remove();
    } catch (err) {
        console.error(err);
        alert("Error deleting job");
    }
});
</script>
{% endblock %}
